<link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
<div class="content-wrapper">


<section class="wrapper bg-soft-primary">
  <div class="container py-14 py-md-17 text-center text-md-start">
    <!-- Section Navigation -->
    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
        <li><a href="#what-we-do" class="nav-link">What We Do?</a></li>
        <li><a href="#choose-us" class="nav-link">Choose Us?</a></li>
        <li><a href="#solutions" class="nav-link">Solutions</a></li>
        <ul class="list-unstyled">
            <li class="nav-item">
                <a href="#case-studies" class="nav-link">Case Studies</a>
                <ul class="sub-menu">
                    <li><a href="#case-studies-1" class="nav-link">Case Studies 1</a></li>
                    <li><a href="#case-studies-2" class="nav-link">Case Studies 2</a></li>
                </ul>
            </li>
        </ul>
        <li><a routerLink="/who-are-we1" class="nav-link">Who Are We 1</a></li>
        <li><a routerLink="/who-are-we2" class="nav-link">Who Are We 2</a></li>
        <li><a href="#free-trial" class="nav-link">Free Trial</a></li>
    </ul>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="text-center text-md-start">
        <p class="display-4 mb-3">Crafting project-specific solutions with expertise.</p>
        <p>We’re a creative company that focuses on establishing long-term relationships with customers.</p>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="#explore" class="btn btn-lg btn-primary rounded-pill me-3">Explore Now</a>
          <a href="#contact" class="btn btn-lg btn-outline-primary rounded-pill">Contact Us</a>
        </div>
      </div>
      <div>
        <img src="assets/img/illustrations/i11.png" alt="Image description" class="header-image">
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div>
        <img src="assets/img/logo.png" alt="Logo" class="logo" />
      </div>
    </div>
  </div>
</section>

  <section class="wrapper bg-light">
    <div class="container ">
        <h2 class="fs-15 text-uppercase text-primary mb-3 text-center">WHAT WE DO?</h2>
        <p class="display-4 text-center mb-5">The full service we are offering is specifically designed to meet your business needs.</p>

        <div class="d-flex justify-content-center gap-4 flex-wrap text-center">
            <div class="service-circle d-flex flex-column align-items-center p-4 bg-white shadow-sm rounded-circle">
                <img src="assets/img/icons/lineal/seoi.svg" alt="SEO Icon" class="small-icon">
                <h4 class="fw-bold">SEO Services</h4>
                <p class="feature-description">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida eget metus cras justo.</p>
                <a href="#" class="learn-more text-primary fw-bold">Learn More →</a>
            </div>

            <div class="service-circle d-flex flex-column align-items-center p-4 bg-white shadow-sm rounded-circle">
                <img src="assets/img/icons/lineal/dev.svg" alt="Web Development Icon"  class="small-icon">
                <h4 class="fw-bold">Web Design</h4>
                <p class="feature-description">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida eget metus cras justo.</p>
                <a href="#" class="learn-more text-primary fw-bold">Learn More →</a>
            </div>

            <div class="service-circle d-flex flex-column align-items-center p-4 bg-white shadow-sm rounded-circle">
                <img src="assets/img/icons/lineal/soc.svg" alt="Social Engagement Icon" class="small-icon">
                <h4 class="fw-bold">Social Engagement</h4>
                <p class="feature-description">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida eget metus cras justo.</p>
                <a href="#" class="learn-more text-primary fw-bold">Learn More →</a>
            </div>

            <div class="service-circle d-flex flex-column align-items-center p-4 bg-white shadow-sm rounded-circle">
                <img src="assets/img/icons/lineal/app.svg" alt="App Development Icon" class="small-icon">
                <h4 class="fw-bold">App Development</h4>
                <p class="feature-description">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida eget metus cras justo.</p>
                <a href="#" class="learn-more text-primary fw-bold">Learn More →</a>
            </div>
        </div>
    </div>
</section>



<section class="why-choose-us bg-light">
  <div class="container py-14 py-md-17">
    <h2 class="fs-15 text-uppercase text-primary mb-3 text-center">Why Choose Us?</h2>
    <p class="lead">We bring solutions to make life easier for our clients.</p>

    <div class="features-grid">
      <div class="feature-card">
        <h4 class="feature-title">
          <img src="assets/img/design.svg" alt="Icona del design professionale" class="small-icon">
          Professional Design
        </h4>
        <p class="feature-description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>

      <div class="feature-card">
        <h4 class="feature-title">
          <img src="assets/img/yr.svg" alt="Icona del supporto" class="small-icon">
          Top-Notch Support
        </h4>
        <p class="feature-description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>

      <div class="feature-card">
        <h4 class="feature-title">
          <img src="assets/img/he.svg" alt="Icona delle opzioni header e slider" class="small-icon">
          Header and Slider Options
        </h4>
        <p class="feature-description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>
    </div>
  </div>
</section>

<section id="solutions" class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="row align-items-center">

      <div class="col-md-6">
        <h2 class="fs-15 text-uppercase text-primary mb-3">Our Solutions</h2>
        <p class="lead">We make your spending stress-free for you to have the perfect control.</p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus.</p>
        <p>Aenean quam ornare. Curabitur blandit. Nullam quis risus eget urna mollis ornare. Etiam porta euismod malesuada mollis. Vivamus sagittis lacus vel augue rutrum.</p>

        <div class="row gx-md-5 gy-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <h4>{{completedProjects}}</h4>
                <p>Completed Projects</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <h4>{{happyCustomers}}</h4>
                <p>Happy Customers</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <h4>{{expertEmployees}}</h4>
                <p>Expert Employees</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Awards Stat -->
        <div class="card mt-4">
          <div class="card-body text-center">
            <h4>{{awardsWon}}</h4>
            <p>Awards Won</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="case-studies" class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <h3 class="fs-15 text-uppercase text-primary mb-3 text-center">Case Studies</h3>
    <p class="lead mb-5 text-center">
      Check out some of our awesome projects with creative ideas and great design.
    </p>

    <div class="row gx-lg-8 gy-5 text-center">
      <!-- Case Study 1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-img-top overflow-hidden">
            <img
              src="assets/img/b5.jpg"
              alt="Case Study 1"
              class="img-fluid hover-zoom"
            />
          </div>
          <div class="card-body px-4 py-5">
            <h4 class="text-primary">
              <a href="#case-study-1" class="text-primary text-decoration-none">
                Ligula tristique quis risus
              </a>
            </h4>
            <p >
              Mauris convallis non ligula non interdum. Gravida vulputate
              convallis tempus vestibulum cras imperdiet nun eu dolor.
            </p>
            <p class="text-muted">14 Apr 2021 - Coding</p>
          </div>
        </div>
      </div>

      <!-- Case Study 2 -->
      <div class="col-lg-3 col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-img-top overflow-hidden">
            <img
              src="assets/img/about12.jpg"
              alt="Case Study 2"
              class="img-fluid hover-zoom"
            />
          </div>
          <div class="card-body px-4 py-5">
            <h4 class="text-primary">
              <a href="#case-study-2" class="text-primary text-decoration-none">
                Nullam id dolor elit id nibh
              </a>
            </h4>
            <p >
              Mauris convallis non ligula non interdum. Gravida vulputate
              convallis tempus vestibulum cras imperdiet nun eu dolor.
            </p>
            <p class="text-muted">29 Mar 2021 - Workspace</p>
          </div>
        </div>
      </div>

      <!-- Case Study 3 -->
      <div class="col-lg-3 col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-img-top overflow-hidden">
            <img
              src="assets/img/b6.jpg"
              alt="Case Study 3"
              class="img-fluid hover-zoom"
            />
          </div>
          <div class="card-body px-4 py-5">
            <h4 class="text-primary">
              <a href="#case-study-3" class="text-primary text-decoration-none">
                Ultricies fusce porta elit
              </a>
            </h4>
            <p >
              Mauris convallis non ligula non interdum. Gravida vulputate
              convallis tempus vestibulum cras imperdiet nun eu dolor.
            </p>
            <p class="text-muted">26 Feb 2021 - Meeting</p>
          </div>
        </div>
      </div>

      <!-- Case Study 4 -->
      <div class="col-lg-3 col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-img-top overflow-hidden">
            <img
              src="assets/img/about22.jpg"
              alt="Case Study 4"
              class="img-fluid hover-zoom"
            />
          </div>
          <div class="card-body px-4 py-5">
            <h4 class="text-primary">
              <a href="#case-study-4" class="text-primary text-decoration-none">
                Morbi leo risus porta eget
              </a>
            </h4>
            <p >
              Mauris convallis non ligula non interdum. Gravida vulputate
              convallis tempus vestibulum cras imperdiet nun eu dolor.
            </p>
            <p class="text-muted">7 Jan 2021 - Business Tips</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Who Are We Section -->
<section id="who-are-we" class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <!-- Section Header -->
    <h2 class="fs-15 text-uppercase text-primary mb-4">Who Are We?</h2>
    <p class="lead mb-5">We are a company that believes in the power of creative strategy.</p>

    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>
        <p>
          Aenean eu leo quam ornare curabitur blandit tempus. Nullam quis risus eget urna mollis ornare donec elit. Etiam porta sem malesuada magna mollis euismod. Fermentum massa vivamus faucibus amet euismod.
        </p>
      </div>

      <div class="col-md-6 text-center">
        <img src="assets/img/illustrations/b4.jpg" alt="About Us" class="img-fluid rounded shadow-lg">
      </div>
    </div>

    <div class="mt-5">
      <h2 class="fs-15 text-uppercase text-primary mb-3 ">Our Vision</h2>
      <p>Our vision is to provide tailored solutions for businesses looking to grow and innovate. We work hand in hand with clients to ensure long-term success by leveraging cutting-edge technologies and creative strategies.</p>
    </div>
  </div>
</section>






<!-- Our Team Section -->
<section id="our-team" class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <h2 class="fs-15 text-uppercase text-primary mb-3">Our Team</h2>
    <p class="lead">Think unique and be innovative. Make a difference with Sandbox.</p>

    <!-- Team Members -->
    <div class="row gx-md-5 gy-5">
      <!-- Coriss Ambady -->
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-img-top">
            <img src="assets/img/t2.jpg" alt="Coriss Ambady" class="img-fluid rounded-circle">
          </div>
          <div class="card-body">
            <h4>Coriss Ambady</h4>
            <p >Financial Analyst</p>
            <blockquote class="blockquote">
              <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
              <h6 class="blockquote-footer">Coriss Ambady</h6>
            </blockquote>
          </div>
        </div>
      </div>

      <!-- Cory Zamora -->
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-img-top">
            <img src="assets/img/t3.jpg" alt="Cory Zamora" class="img-fluid rounded-circle">
          </div>
          <div class="card-body">
            <h4>Cory Zamora</h4>
            <p class="text-muted">Marketing Specialist</p>
            <blockquote class="blockquote">
              <p >“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
              <h6 class="blockquote-footer">Cory Zamora</h6>
            </blockquote>
          </div>
        </div>
      </div>

      <!-- Nikolas Brooten -->
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-img-top">
            <img src="assets/img/t1.jpg" alt="Nikolas Brooten" class="img-fluid rounded-circle">
          </div>
          <div class="card-body">
            <h4>Nikolas Brooten</h4>
            <p class="text-muted">Sales Manager</p>
            <blockquote class="blockquote">
              <p >“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
              <h6 class="blockquote-footer">Nikolas Brooten</h6>
            </blockquote>
          </div>
        </div>
      </div>

      <!-- Jackie Sanders -->
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-img-top">
            <img src="assets/img/t4.jpg" alt="Jackie Sanders" class="img-fluid rounded-circle">
          </div>
          <div class="card-body">
            <h4>Jackie Sanders</h4>
            <p >Investment Planner</p>
            <blockquote class="blockquote">
              <p >“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
              <h6 class="blockquote-footer">Jackie Sanders</h6>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







<!-- Our Pricing Section -->
<section id="pricing" class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <h2 class="fs-15 text-uppercase text-primary mb-3 text-center">Our Pricing</h2>

    <p class="lead">We offer great prices, premium products and quality service for your business.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">

        <div class="card h-100">

          <div class="card-body text-center">

            <h5 class="card-title">Basic 1 Plan</h5>

            <h1 class="card-price">$9/mo</h1>

            <ul class="list-group list-group-flush">
              <li>1 Project</li>
              <li>100K API Access</li>
              <li>100MB Storage</li>
              <li>Weekly Reports</li>
              <li>7/24 Support</li>
            </ul>

            <a href="#choose-plan" class="btn btn-dark">Choose Plan</a>

          </div>

        </div>

      </div>

      <div class="col">

        <div class="card h-100">

          <div class="card-body text-center">

            <h5 class="card-title">Premium Plan</h5>

            <h1 class="card-price">$19/mo</h1>

            <ul class="list-group list-group-flush">
              <li>5 Projects</li>
              <li>100K API Access</li>
              <li>200MB Storage</li>
              <li>Weekly Reports</li>
              <li>7/24 Support</li>
            </ul>

            <a href="#choose-plan" class="btn btn-dark">Choose Plan</a>

          </div>

        </div>

      </div>

      <div class="col">

        <div class="card h-100">

          <div class="card-body text-center">

            <h5 class="card-title">Corporate Plan</h5>

            <h1 class="card-price">$49/mo</h1>

            <ul class="list-group list-group-flush">
              <li>20 Projects</li>
              <li>300K API Access</li>
              <li>500MB Storage</li>
              <li>Weekly Reports</li>
              <li>7/24 Support</li>
            </ul>

            <a href="#choose-plan" class="btn btn-dark">Choose Plan</a>

          </div>

        </div>

      </div>

    </div>

  </div>
</section>


<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="faq-item">
          <div class="faq-icon"></div>
          <h5 class="text-primary custom-title-color">
            <i class="fa-solid fa-question-circle"></i> Can I cancel my subscription?
          </h5>
          <p >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
        <div class="faq-item">
          <div class="faq-icon"></div>
          <h5 class="text-primary custom-title-color">
            <i class="fa-solid fa-cogs"></i> How can I manage my Account?
          </h5>
          <p >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="faq-item">
          <div class="faq-icon"></div>
          <h5 class="text-primary custom-title-color">
            <i class="fa-solid fa-money-check-alt"></i> Which payment methods do you accept?
          </h5>
          <p >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
        <div class="faq-item">
          <div class="faq-icon"></div>
          <h5 class="text-primary custom-title-color">
            <i class="fa-solid fa-lock"></i> Is my credit card information secure?
          </h5>
          <p >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
      </div>
    </div>
  </div>
</section>














<footer>
  <div class="container">
    <div class="row">
      <div class="custom-col-12">
        <h4>Join our community by using our services and grow your business.</h4>
        <a href="#free-trial" class="btn custom-btn-lg custom-btn-primary">Try It For Free</a>
      </div>
      <div class="col">
        <img src="assets/img/logo.png" alt="Logo"  />  <p>&copy; 2024 Sandbox. All rights reserved.</p>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Get in Touch</h3>
        <p class="text-muted">Moonshine St. 14/05<br>
           Light City, London,<br>
           United Kingdom</p>
        <p class="text-muted"><a href="mailto:info@email.com">info@email.com</a></p>
        <p class="text-muted">00 (123) 456 78 90</p>
      </div>
      <div class="col">
        <h3>Learn More</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Our Newsletter</h3>
        <p>Subscribe to our newsletter to get our news & deals delivered to you.</p>
        <form>
          <input type="email" placeholder="Email Address">
          <button type="submit">Join</button>
        </form>
      </div>
    </div>
  </div>
</footer>
